<ion-header>
    <ion-title>
      Milk
    </ion-title>
</ion-header>

<ion-content padding>
  {{milk}}
  <img *ngIf="coffee_0" style="margin-bottom: -350px" src="assets/images/possible/milk_fill-{{milk}}.png" />
  <img *ngIf="coffee_1" style="margin-bottom: -350px" src="assets/images/coffee_1/coffee_1-{{milk}}.png" />
  <img *ngIf="overfill" style="margin-bottom: -350px" src="assets/images/overfill/overfill-{{overfill_frames}}.png" />
  <ion-item no-lines style="background-color: transparent; margin-top: 350px">
    <ion-label class="range"> Milk </ion-label>
    <ion-range class="range" pin="true" min="1" max="5" [(ngModel)]="milk" [ngModel]="milk" (ngModelChange)="check()" color="cream">
      <ion-label range-left> Min </ion-label>
      <ion-label range-right> Max </ion-label>
    </ion-range>
  </ion-item>
  <button class="range" ion-button style="margin-left: 30px; height: 40px; width: 140px" color="cream" (click)="redirectToCoffee()">Back</button>
</ion-content>